/* Write your CSS here */
.suggestion-con {
  display: flex;
  justify-content: space-between;
}
.suggestion-text {
  font-family: 'Roboto';
}
.suggestion-del-btn {
  border: 0;
  background: none;
}
.suggestion-arrow {
  height: 20px;
}
